@Model MaisSabor2.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Cardápio";
}
<partial name="_Carousel" />
<h1 class="my-3 text-center">Itens em Destaque</h1>
<div class="card-group gap-3">
    @foreach (var item in Model.ItensEmDestaque)
    {
        <partial name="_Card" for="@item"></partial>
    }
</div>
